<div class="container-lg py-5">
  <h3>Sign In</h3>
  <form action="/admin" method="POST" class="form login">
    <div class="form-outline mb-4">
      <label for="username" class="form-label"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" class="form-control">
    </div>
    <div class="form-outline mb-4">
      <label for="password" class="form-label"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" class="form-control">
    </div>
    <div class="form-outline mb-4">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<!-- <form action="/register" method="POST" class="form login">
  <div class="form-outline mb-4">
    <label for="username" class="form-label"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" class="form-control">
  </div>
  <div class="form-outline mb-4">
    <label for="fullName" class="form-label"><b>full name</b></label>
    <input type="text" placeholder="Enter full name" name="fullName" class="form-control">
  </div>
  <div class="form-outline mb-4">
    <label for="password" class="form-label"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" class="form-control">
  </div>
  <div class="form-outline mb-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form> -->